%btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100px;
  min-height: 36px;
  padding: 6px 12px;
  margin: 0 auto;
  border: 1px solid transparent;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.btn {
  @extend %reset-btn;
  @extend %btn;
}
.btn--primary {
  $theme-color: map-get($theme, 'primary');
  background-color: $theme-color;
  color: map-get($theme, 'light');

  &:hover {
    background-color: darken($theme-color, 10%);
  }

  &:active {
    background-color: darken($theme-color, 20%);
  }
}
.btn--light {
  $theme-color: map-get($theme, 'primary');
  background-color: map-get($theme, 'light');
  color: $theme-color;
  border: 1px solid $theme-color;

  &:hover {
    color: map-get($theme, 'light');
    background-color: darken($theme-color, 10%);
  }

  &:active {
    color: map-get($theme, 'light');
    background-color: darken($theme-color, 20%);
  }
}
.btn--narrow {
  padding-top: 4px;
  padding-bottom: 4px;
}

// @each $name, $color in $theme {
//   .btn--#{$name} {
//     // box-shadow: $global-shadow;
//     background-color: $color;
//     color: #000;
//     &:hover {
//       background-color: lighten($color, 5%);
//     }
//     &:active {
//       opacity: 0.8;
//     }
//     &:disabled {
//       opacity: 0.2;
//     }
//   }
//   .btn--#{$name}-line {
//     border: 1px solid $color;
//     background-color: transparent;
//     color: $color;

//     &:hover {
//       background-color: $color;
//       @if $name != light {
//         color: color(light);
//       } @else {
//         color: color(base);
//       }
//     }
//     &:active {
//       background-color: lighten($color, 10%);
//       color: map-get($theme, light);
//     }
//     &:disabled {
//       opacity: 0.2;
//     }
//   }
// }

// // .btn--transparent {
// //   color: #000;
// //   &:hover {
// //     background-color: $gray-200;
// //   }
// //   // &:focus {
// //   //   background-color: $orange;
// //   //   color: #fff;
// //   // }
// //   &:disabled {
// //     opacity: 0.2;
// //   }
// // }
